Usuario:<%= current_user.name %><br>
<a href="/users/<%= current_user.id %>">Volver al Perfil</a>
<br>
<h1>Editar Pregunta</h1>
<form action="/question/<%= @question.id %>" method="POST" >
  <input type="hidden" name="_method" value="PUT">
  <textarea name="question[body]" placeholder="Pregunta!"><%= @question.body %></textarea><br>
  <input class="chulada_btn" type="submit" value="Editame!">    
</form>
<form action="/question/<%= @question.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input class="chulada_btn" type="submit" value="Borrar!">
</form>
<div id="clear"></div>